/*----------------
      FONT
----------------*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/* Appeler la font --> font-family: 'Source Code Pro', monospace; */

body{
  font-family: 'Source Code Pro', monospace;
  background-image: url('http://2.bp.blogspot.com/-rp8q2e-ZK4Y/VDpUReTGW1I/AAAAAAAAAgA/UtdQock7w14/s1600/l.jpg');


  }
  h3{
    text-align: center;
    text-transform: uppercase;
  }

  img{
    height: 100%;
    width: auto;
    display: block;
    margin: auto;
  }
  button{
    margin: auto;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
    top: 30px;
  }

.profil{
  position: relative;
}

.center{
  left: 14vw;
  position: absolute;
  top: 102px;
  color: white;
  font-weight: bold;
  /*box-shadow: 3px 4px 1px 0px white;*/
  padding: 0 88px 7px 0;
}

#character_01{
  float: left;
  width: 49%;
  display: inline-block;
  height: 500px;
  overflow: hidden;
  }
  #character_01 .center {
    margin-left: 17vw;
    left: 0;
    max-width: 184px;
  }


#character_02{
  float: right;
  width: 49%;
  display: inline-block;
  height: 500px;
  overflow: hidden;
}
